.square {
  height: 100px;
  width: 100px;
}

.brown {
  background-color: #713a1a;
}

.gold {
  background-color: #cea548;
}

.light-gold {
  background-color: #caaf5c;
  border: #713a1a solid 1px;
}

.dark-brown {
  background-color: #40291c;
  border: #cea548 solid 1px;
}

.board {
  width: 850px;
  margin: auto;
  display: inline-flex;
  flex-wrap: wrap;
}

.piece {
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  border-radius: 50%;
  display: inline-block;
}
