.square {
  height: 80px;
  width: 80px;
}

.brown {
  background-color: #713a1a;
}

.light-brown {
  background-color: #835c46;
  border: #cea548 solid 1px;
}

.gold {
  background-color: #cea548;
}

.light-gold {
  background-color: #caaf5c;
  border: #713a1a solid 1px;
}

.dark-gold {
  background-color: #ac8938;
  border: #713a1a solid 1px;
}

.two {
  color: #c29a3d;
}

.dark-brown {
  background-color: #40291c;
  border: #cea548 solid 1px;
}

.one {
  color: #713a1a;
}

.turn {
  background-color: lightgoldenrodyellow;
}

.board {
  width: 650px;
  margin: auto;
  display: inline-flex;
  flex-wrap: wrap;
}

.piece {
  width: 80%;
  height: 80%;
  margin: 10px 10px;
  border-radius: 50%;
  display: inline-block;
}

.king {
  background-image: url("/images/crown.png");
  background-size: contain;
}

.game-over {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  top: 30%;
  font-size: 60px;
  background-color: #720000;
}

.available {
  background: radial-gradient(circle, rgb(153 235 46) 0%, rgb(5 102 3) 100%);
}
