.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menu {
  height: 500px;
  width: 500px;
  padding: 50px;
  border-radius: 10%;
  background-image: url("/images/wood.jpeg");
  background-size: contain;
  margin: 100px auto;
}

.menu h2 {
  font-family: monospace;
  font-size: 40px;
  color: #720000;
}

.menu button {
  padding: 20px;
  border-radius: 10px;
  min-width: 100px;
  color: #720000;
  margin: 50px auto;
  font-family: monospace;
  font-size: 20px;
  border: #720000 solid 1px;
  cursor: pointer;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
